body {
    background-color: rgb(0, 0, 0);
    background-image: url("../img/bg.jpg");
    background-size: contain;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

body::after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(82, 145, 255, 0.6), rgba(66, 133, 244, 0));
    z-index: -1;
}


.myTitle {
    color: palevioletred;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: fantasy;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: 64px;
    animation: title-fade-in 4s ease 0s 1;
    animation-play-state: paused;
}

@keyframes title-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.grid {
    display: block;
    margin: 20px auto;
    animation: grid-fade-in 4.5s ease 0s 1;
    animation-play-state: paused;
}

@keyframes grid-fade-in {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.controlPanel {
    display: block;
    margin: 20px auto;
    animation: controlPanel-fade-in 5s ease 0s 1;
    animation-play-state: paused;
}

@keyframes controlPanel-fade-in {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.appendix {
    display: block;
    margin: 20px auto;
    margin-left: 7vw;
    margin-right: 7vw;
    color: aliceblue;
    animation: appendix-fade-in 5.5s ease 0s 1;
    animation-play-state: paused;
}

@keyframes appendix-fade-in {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}